/*****************************
GENERAL
*****************************/



/*****************************
HEADING
*****************************/

header {
  float: left;
}

h1 {
  font-size: 1.75em;
  font-weight: bold;
  color: orange;
}

h2 {
  font-size: 1.00em;
  margin: -20px 28px 0;
  font-weight: normal;
  color: charcoal;	
}



/*****************************
NAVIGATION
*****************************/

nav {
  text-align: right;
}

nav ul {
  list-style: none;
  float: right;
}

nav li {
  display: inline-block;
  float: right;
}



/*****************************
FOOTER
*****************************/


/*****************************
PAGE:  HOME
*****************************/

h3 {
  display: inline-block;
  float: left;
}


h4 {
  display: block;
  float: left;
}


p {
  display: block;
  float: left;
}